<div class="fullpage-table" id="front-banner">
    <div class="table-row">
        <div class="banner-box responsive-hero fill park">

                <div class="layout-table grid corset compact fill">
                    <div class="cell col-5 bottom fill">
                        <div class="pic-bottom"></div>
                    </div>
                    <div class="cell col-7 middle fill">
                      <div class="banner_text">
                        <h1>Your elderly care service on demand</h1>
                        <p class="loud">
                          Booking professional care service for your family member
  was never easier. We help to find, select and book your care agent on demand.
                        </p>

                         <ul class="check_list loud">
                              <li>Easy Booking</li>
                              <li>One Time or Regular service</li>
                              <li>Transparent pricing</li>
                              <li>Tax deductible</li>
                              <li>Money Back Guarantee</li>
                          </ul>
                          <br/>
                          <a class="btn btn-success" href="#">Book Now!</a>
                        </div>
                      </div>
                      
                      
                </div>
                
                <div class="banner-footer">
                  <div class="corset">
                    <div class="layout-table grid">
                      <div class="cell col-3">
                        100% Money Back Guarantee
                      </div>
                      <div class="cell col-3">
                        24h Customer service 0800 / 12345678
                      </div>
                      <div class="cell col-3">
                        Tested and trained professionals
                      </div>
                      <div class="cell col-3">
                        Kundenbewertung 4,2/5
                      </div>
                    </div>
                  </div>
                </div>

        </div>
    </div>
</div>

<div class="section bright">
    <div class="corset">
        <h2>Wir helfen Dir die richtigen Helfer für den Alltag zu finden, um Dich und Deine Angehörigen zu
            entlasten </h2>
    </div>
</div>

<div class="section bright">
    <div class="corset tight">
        <div class="layout-table grid">
            <div class="cell col-8 middle left_text">
                <h3>Book professional care personnel in your city.</h3>
                <p>
                  Choose what services your need to book for your elderly family member.
                  We select most suitable care agents in your area to assure instant service on demand.
                  Your personal details stay anonymou
                </p>
            </div>
            <div class="cell col-4">
              <%= image_tag "macbook.png", class: "responsive" %>
            </div>
        </div>
    </div>
</div>

<div class="section bright">
    <div class="corset tight">
        <div class="layout-table grid">
            <div class="cell col-4">
              <%= image_tag "iphone.png", class: "responsive" %>
            </div>
            <div class="cell col-8 middle left_text">
                <h3>2. Choose from the list of preselected Care Agents</h3>

                <p> Your booking is sent to selected Agent.
                    Within a short time you get different service offers.
                    Each offer contain:
                </p>
                <ul class="dash">
                    <li> Price offer</li>
                    <li> Personal message</li>
                    <li> Review from other clients</li>
                    <li> Contact info</li>
                </ul>
                <p></p>
            </div>

        </div>
    </div>
</div>

<div class="section bright">
    <div class="corset tight">
        <div class="layout-table grid">
            <div class="cell col-8 middle left_text">
                <h3>3. Meet unique people</h3>

                <p>
                    People working with Care Agents have heart and soul for Elderly and understand their problem as their
                    own.
                    Selected Care Agent arrives on time and address you select in the booking.

                    After the booking you can review each Agent and choose your favorite person for the next job.
                    So next time it even easier to repeat the process.
                </p>
            </div>
            <div class="cell col-4">
              <%= image_tag "browser.png", class: "responsive" %>
            </div>
        </div>
    </div>

</div>


<div class="section">
    <div class="corset full">
        <h2 class="brand">Our typical service to relieve your from this duties</h2>

        <div class="layout-table">
            <div class="cell"></div>
            <div class="cell"><h3 class="brand">We take care of your household</h3>
            <p>
                Your home need to be tidy and clean so you could feed comfortable.
                We will take care of any task which will keep your place in the finest state.
            </p>
            </div>
        </div>
        <div class="layout-table">
            <div class="cell"></div>
            <div class="cell"><h3 class="brand">We cook your favorite meal</h3>
            <p>
                To have a homemade meal is equally important as having a good mood.
                Our Agents have a basic cooking training and able to prepare delicious meal by request.
            </p></div>
        </div>
        <div class="layout-table">
            <div class="cell"></div>
            <div class="cell"><h3 class="brand">We will shop for your</h3>
            <p>
                Your elderly parent will have everything they need with the shopping service our Agents are happy to offer.
                Supermarket trip or Pharmacy run. You wont need to wait for the products you need.

            </p></div>
        </div>
        <div class="layout-table">
            <div class="cell"></div>
            <div class="cell"><h3 class="brand">Body Care</h3>
            <p>
                Senior gymnastic and Yoga for Seniors. Our Agent will take care and keep the body shape of you family member at the best condition.
            </p></div>
        </div>
    </div>


    <div class="corset full">
        <a class="btn btn-primary btn-lg" href="#">Zur Buchung</a>
    </div>
</div>
