<div class="section head">
  <div class="corset">
    <h1>Your past jobs</h1>
  </div>
</div>


<div class="section">
  <div class="corset">
    
    <% jobs.each do |job| %>
      <div class="box">
        <span></span>
      </div>
    <% end %>
    <h1>Your past jobs</h1>
  </div>
</div>

