<div class="section">
  <div class="corset full">
    
    
    <div class="layout-table grid">
      <% 3.times do %>
      <div class="col-sm-4">
        <div class="box profile-box">
          
          <div class="header">
            Harry Hirsch
          </div>
          
        </div>
      </div>
      <% end %>
    </div>
    
    
  </div>
</div>